/* 
    Created on : 24-ene-2014, 8:18:51
    Author     : josevicente
    Author      :diegogarcia
*/

#fb-root{
    
}

.capaSuperpuesta{
    position:absolute;
    z-index: 2000;
    top: 0%;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}


#menu{
    background-color: black;
    height: auto;
    width: 10%;
    margin-top: 20%;
    float: left;
    color: white;
}

#social{
    background-color: black;
    float: right;
    position: absolute;
    margin-top: -220px;
    margin-left: -292px;
    top: 94%;
    left: 97%;
}

li{
    margin: auto;
}

.fb-facepile{
    background-color: tomato;
    overflow: auto;
    width: 90%;
    height: 90%;
    margin: 5%;
}

