/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-ene-2014, 8:18:51
    Author     : josevicente
    Author      :diegogarcia
*/
#fb-root{
    
}

#cabecera{
    width: 1000px;
    height: 200px;
    background-color: red;
    margin: auto;
    margin-bottom: 20px;
}

#menu{
    background-color: blue;
    //height: 40px;
    width: 1000px;
    overflow: auto;
    margin: auto;
    margin-bottom: 20px;
}

li{    
    padding: 9%;
    display: inline;
    margin: auto;
}

#contenido{
    background-color: brown;
    margin: auto;
    margin-bottom: 20px;
    width: 1000px;
    //overflow-y: auto;
    padding: auto;
    min-height: 600px;
}

#social{
    background-color: yellow;
    float: right;
    width: 34%;
    overflow-y: auto;    
    margin: 2%;
    margin-left: 1%;    
}

.fb-facepile{
    background-color: tomato;
    overflow: auto;
    width: 90%;
    height: 90%;
    margin: 5%;
}

#principal{
    background-color: green;
    float: left;
    width: 60%;
    height: 100px;    
    margin: 2%; 
    margin-right: 1%;
}

#pie{
    background-color: black;
    width: 1000px;
    height: 30px;
    margin: auto;
}